#banner {
    width: 65%;
    margin: 17%;
    margin-bottom: 0%;
    margin-top: 60px;
}


h1 {
    font-size: 35px;
}


h2 {
    font-size: 30px;
}


h3 {
    font-size: 20px;
}


a {
  font-size: 20px;
}


p {
    font-size: 15px;
}


#ex_area {
    display: flex;
}


#bmw {
    width: 33%;
}


#youtube {
    width: 33%;
    border-right: 1px solid black;
    border-left: 1px solid black;

}


#github {
    width: 33%;
}


section {
    padding: 0px;
}

