body {
    padding:0%;
    margin:0%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


#logo { width: 60px;
        float: left;
}


.intro {
    text-align: right;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 0%;
    top: 0;
    left: 0;
    right: 0;
    order: 1;
    z-index: 1;
    background-color: white;
}


#banner {
    width: 100%;
    margin: 0%;
    margin-top: 53px;
    left: 0;
    right: 0;
    order: 2;
    
}


h1 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}


h2 {
    font-size: 25px;
}


h3 {
    font-size: 15px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
}


#title {
    text-align: center;
    order: 3;
}


#ex_area {
    display: flex;
    flex-wrap: wrap;
}


#bmw {
    text-align: center;
    order: 4;
}


#youtube {
    text-align: center;
    order: 5;
}


#github {
    text-align: center;
    order: 6;
}


section {
    width: 100%;
    border-bottom: 2px solid black;
}


.examples {
    width: 75%;
    margin: 12%;
    margin-top: 5%;
}


footer {
    order: 7;
}